/*desktop*/
body {
    font-family: Arial, sans-serif;
    background-color: #202020;
    margin: 0;
    padding: 0;
}
header, footer {
    background: linear-gradient(90deg,#8a00e6,#02769d);
    color:#fff;
    padding: 25px;
    display:flex;
    align-items: center; 
}   
    h1,h2{
color:#fff;
    }

.container {
    width: 80%;
    margin: 0 auto;
    padding: 2rem 0;
}
.section {
    margin-bottom: 2rem;
    color:#fff;
}
.section h2 {
    border-bottom: 2px solid #bdbcbc;
    padding-bottom: 0.5rem;
}
.nav {
    text-align: center;
    margin: 1rem 0;
}
.nav a {
    margin: 0 1rem;
    color: #fff;
    text-decoration:none;
}
.nav a:hover {
    text-decoration: underline;
}
.logo{
    width: 100px;
    height: 100px;
    margin-left: 250px;
    margin-right: 100px;
}
.ofd{
    text-align: center;
}
p{
    font-family: Arial, Helvetica, sans-serif;
}
.Contato{
    text-align: center;
    padding: 10px;
    color: #fff;
}
.instagram{
    width: 50px;
    height: 50px;
}
/*768px*/
@media (max-width: 768px) {
    header, footer {
        flex-direction: column;
        text-align: center;
    }
    .nav {
        flex-direction: column;
    }
    .nav a {
        margin: 5px 0;
    }
    .logo {
        margin: 0 auto 10px;
        width: 130px;
        height: 130px;
    }
}
/*480*/
@media (max-width: 480px) {
    .container {
        width: 100%;
        padding: 1rem;
    }
    header, footer {
        padding: 10px;
        align-items: center;
    }
}
    .section{
        margin-right:40 px;
    }
    .section h2 {
        margin-right: 35px;
    }
    p{
       margin-right: 25px;
    }
    ul{
        margin-right: 40px;
    }
    body{
        align-items: center;
    }